header,
main {
    color: grey;
    display: block;
    padding: 20px;
    position: relative;
    /* text-align: center; */
}

body {
    background-color: rgb(53, 51, 51);
}

header {
    background: blue;
}

h1 {
    font-size: 34px;
    color: #F9D342;
}

h2 {
    font-size: 20px;
    color: #F9D342;
}

#settingsForm {
    display: block;
}

#title {
    font-size: 14px;
}

#itemList {
    padding-top: 10px;
    height: 300px;
    width: 500px;
}

#itemList select {
    width: 100%;
    height: 100%;
}

#controls {
    padding-top: 30px;
    width: 500px;
    height: auto;
}

#url {
    display: inline;
    color: antiquewhite;
    font-size: 16px;
    font-weight: bold;
}

#url input {
    width: 295px;
}

#buttons {
    display: inline;
    float: right;
    font-weight: bold;
}

#save {
    padding-top: 10px;
    width: 500px;
}

#info {
    padding-top: 10px;
    font-size: 12px;
}

#regexTesting {
    padding-top: 10px;
}

.testInput {
    width: 400px;
}

#result {
    font-weight: bold;
}
